$color-black: #121210;
$color-white: #d8d7d0;

$color-tan-light: #d9c5b7;
$color-tan-dark: #c4a291;

$color-teal-light: #27fcff;
$color-teal-dark: #4a8890;

$color-pink-light: pink;
$color-pink-dark: #de9dac;
$color-pink-avg: #cca49a;

