// .visualizer-stack {
//   width: 100%;
// }

// .waveform-visual {
//   display: block;
//   width: 100%;
//   max-width: 100%;
//   border-radius: 12px;
//   background-color: #111;
// }

.effectsWrapper {
  margin-bottom: 25px;
  box-shadow:
    inset 0 0 5px rgba(0, 0, 0, 0.4),
    0 10px 25px rgba(0, 0, 0, 0.6);
  padding: 13px;
}
