/************************************************************************************
                                  GENERAL STYLES
************************************************************************************/

body {
    color: lightgrey;
    background-image: url("../images/black-thread.png");
    background: linear-gradient(rgba(251, 139, 166, 0.7), rgba(224, 140, 194, 0.8), rgba(194, 139, 228, 0.9));
    background: radial-gradient(circle at center, #d0a5d0, #6e7d92);
    background: radial-gradient(circle at center, #d9a0c3 0%, #9b8cb4 75%, #736c92 100%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    min-height: 100%;
    /* ensures it covers at least viewport */
    height: auto;
    /* allows it to grow beyond viewport */
}

body {
    font-family: monospace;
}

*:not(input):not(textarea):not([contenteditable="true"])::selection {
    background: transparent;
    color: inherit;
}

input::selection,
textarea::selection,
[contenteditable="true"]::selection {
    background: Highlight;
    color: HighlightText;
}

input[type="range"] {
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
}

.active-bank {
    border: 2px solid #007bff;
    background-color: #e9f2ff;
}

.preset-banks {
    position: fixed;
    top: 100px;
    left: 0px;
    padding: 20px;
    display: block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    z-index: 100;
}

.btn-group .btn.active {
    color: white;
}

/* Speakers */
.studio-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    padding: 3rem;

    .speaker {
        width: 100px;
        position: relative;
        z-index: 2;
        transform: translateY(-10px);
    }

    .speaker::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 20px;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
        border-radius: 50%;
        z-index: -1;
        filter: blur(4px);
        opacity: 0.6;
    }
}

.selected {
    background-color: RGBA(95, 186, 255, 1);
    border: 0px;
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.35);
}

hr {
    margin: 1rem 0rem 1.5rem 0rem;
}